body {
    height: min-content;
    margin: 0;
    height: 100%;
    div#index{
        height: 100%;
    }
    .main {
        background-color: crimson; 
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        h1 {
            display: flex;
            height: 62px;
            background-color: mediumseagreen;
            margin: 0px;
            padding: 5px 0;
            color: gold;
            justify-content: space-between;
            label {
                align-self: center;
                padding-left: 20px;
                font-weight: 400;
                font-size: 1.2em;
                text-shadow: -5px 5px 5px crimson;
            }
            .logo {
                content: url(../../assets/5743-256x256x32.png);
                width: 62px;
                height: 100%;
                margin: 0 20px 0 40;
            }
        }
        div.content {
            padding: 10px 0;
            height: calc(100% - 98px);
            section {
                background-color: gold;
                border-radius: 10px;
                margin: 10px 5px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                @media screen and (max-width: 420px) {
                    display: flex;
                    flex-direction: column;   
                }
            }
        }
        .wrapper {
            min-height: 300px;
            box-shadow: 2px 2px 0px 0px darkgrey;
        }
    }
    
    body {
        margin: 0;
    }
}

input[type="submit"], button {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}
::-webkit-scrollbar-track-piece {
    background: crimson;
}
::-webkit-scrollbar-thumb {
    background: mediumseagreen;
}

.favorite-icon {
    content: url(../../assets/star.png);
    background-color: transparent;
    height: 55px;
    width: 55px;
    margin: 0.5em 0;
}

.favorie-header {
    background-color: gold;
    text-align: center;
    margin: 0 0 1em;
    border-radius: 3px;
    font-weight: 400;
    width: 100%;
}

.favorite-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorie-content {
    background-color: gold;
    border-radius: 10px;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}

.favorite-button {
    border: 2px solid crimson;
    color: crimson;
    background-color: gold;
    border-radius: 12px;
    font-size: 16px;
    margin: 12px 0;
    width: 120px;
    padding: 15px 0px;
    text-transform: uppercase;
    min-height: 52px;
    box-shadow: 2px 2px 2px 2px darkgrey;
    font-weight: 800;
    &.order {
        color: mediumseagreen;
    }
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3em;
}