body {
    height: min-content;
    margin: 0;
    height: 100%;
    div#index{
        height: 100%;
    }
    .main {
        background-color: crimson; 
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        h1 {
            display: flex;
            height: 62px;
            background-color: mediumseagreen;
            margin: 0px;
            padding: 5px 0;
            color: gold;
            justify-content: space-between;
            label {
                align-self: center;
                padding-left: 20px;
                font-weight: 400;
                font-size: 1.2em;
                text-shadow: -5px 5px 5px crimson;
            }
            .logo {
                content: url(../../assets/5743-256x256x32.png);
                width: 62px;
                height: 100%;
                margin: 0 20px 0 40;
            }
        }
        div.content {
            padding: 10px 0;
            height: calc(100% - 98px);
            section {
                background-color: gold;
                border-radius: 10px;
                margin: 10px 5px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                @media screen and (max-width: 420px) {
                    display: flex;
                    flex-direction: column;   
                }
            }
        }
        .wrapper {
            min-height: 300px;
            box-shadow: 2px 2px 0px 0px darkgrey;
        }
    }
    
    body {
        margin: 0;
    }
}

input[type="submit"] {
    cursor: pointer;
}