@import "multiSelection.scss";

form.form {
    display: flex;
    height: 100%;
    justify-content: space-between;
    @media screen and (max-width: 420px){
        flex-direction: column;
    }
    section.content {
        padding: 10px;
        label {
            display: block;
            padding-bottom: 2px;
            color: crimson;
            font-weight: 600;
            align-self: flex-start;
            // padding-left: 20px;
            font-size: 22px;
        }
        input {
            font-size: 18px;
            height: 35px;
            padding-left: 5px;
            border-radius: 8px;
        }
    }
    .button-container {
        display: flex;
        justify-content: space-between;
    }
    .back-button, input[type='submit'] {
        border: 2px solid crimson;
        color: crimson;
        background-color: gold;;
        border-radius: 12px;
        font-size: 16px;
        margin: 12px auto;
        width: 120px;
        padding: 15px 0px;
        text-transform: uppercase;
        min-height: 52px;
        box-shadow: 2px 2px 2px 2px darkgray;
    }
    .password-validation {
        color: red;
        font-size: 12px;
    }
}