@import "multiSelection.scss";

form.form {
    display: flex;
    @media screen and (max-width: 420px){
        flex-direction: column;
    }
    div.content {
        padding: 10px;
        label {
            display: block;
            padding-bottom: 2px;
            color: crimson;
            font-weight: 600;
        }
        input {
            width: 100%;
        }
    }
    input[type='submit'] {
        border: 2px solid crimson;
        color: crimson;
        background-color: gold;;
        border-radius: 12px;
        font-size: 16px;
        margin: 12px auto;
        width: 80%;
        padding: 15px 0px;
        text-transform: uppercase;
        box-shadow: 2px 2px 2px 2px darkgray;
    }
}